In [1]:
import pandas as pd
import numpy as np

import matplotlib as plt
import seaborn as sns

In [2]:
data=pd.read_excel('04_TallerLimpiezaDatos.xlsx')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Factura        49 non-null     object
 1   Cliente        49 non-null     object
 2   Ubicación      49 non-null     object
 3   Genero         41 non-null     object
 4   Producto       49 non-null     object
 5   TipoVenta      45 non-null     object
 6   Cantidad       49 non-null     int64
 7   ValorUnitario  49 non-null     int64
dtypes: int64(2), object(6)
memory usage: 3.2+ KB

In [4]:
data.isnull().sum()

Factura          0
Cliente          0
Ubicación        0
Genero           8
Producto         0
TipoVenta        4
Cantidad         0
ValorUnitario    0
dtype: int64

In [5]:
from pandas_profiling import ProfileReport
report = ProfileReport(data)
report.to_file(output_file='reporte.html')

C:\Users\Sena\AppData\Local\Temp\ipykernel_17396\3629026081.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\Sena\AppData\Local\Programs\Python\Python312\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Juan García'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
data.dropna(inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 48
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Factura        38 non-null     object
 1   Cliente        38 non-null     object
 2   Ubicación      38 non-null     object
 3   Genero         38 non-null     object
 4   Producto       38 non-null     object
 5   TipoVenta      38 non-null     object
 6   Cantidad       38 non-null     int64
 7   ValorUnitario  38 non-null     int64
dtypes: int64(2), object(6)
memory usage: 2.7+ KB

In [8]:
data.shape

(38, 8)

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data.shape

(38, 8)

In [11]:
data.describe()

        Cantidad  ValorUnitario
count  38.000000      38.000000
mean    3.973684   10592.105263
std     1.965745   10525.403801
min     1.000000    2500.000000
25%     2.250000    3500.000000
50%     4.000000    6725.000000
75%     6.000000   12900.000000
max     8.000000   35600.000000

In [12]:
data['Factura'].unique()

array(['AD476', 'AD901', 'AA730', 'AB234', 'AC567', 'AB874', 'AC389'],
      dtype=object)

In [13]:
data['Genero'].unique()

array(['Masculino', 'Femenino', 'M', 'F', 'Hombre', 'Mujer', 'H'],
      dtype=object)

In [14]:
data['Genero']=data['Genero'].str.replace('Femenino','Mujer', regex=False)
data['Genero']=data['Genero'].str.replace('M','Mujer', regex=False)

In [15]:
data['Genero']=data['Genero'].str.replace('Mujerujer','Mujer', regex=False)
data['Genero']=data['Genero'].str.replace('F','Mujer', regex=False)

In [16]:
data['Genero']=data['Genero'].str.replace('Mujerasculino','Hombre', regex=False)
data['Genero']=data['Genero'].str.replace('H','Hombre', regex=False)

In [17]:
data['Genero']=data['Genero'].str.replace('Hombreombre','Hombre', regex=False)

In [18]:
data['Genero'].unique()

array(['Hombre', 'Mujer'], dtype=object)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 48
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Factura        38 non-null     object
 1   Cliente        38 non-null     object
 2   Ubicación      38 non-null     object
 3   Genero         38 non-null     object
 4   Producto       38 non-null     object
 5   TipoVenta      38 non-null     object
 6   Cantidad       38 non-null     int64
 7   ValorUnitario  38 non-null     int64
dtypes: int64(2), object(6)
memory usage: 2.7+ KB

In [20]:
data['SUBTOTAL'] = data['Cantidad'] * data['ValorUnitario']

Consutas Agrupamiento

In [21]:
VentasUbicacion = data.groupby('Ubicación')['SUBTOTAL'].sum()
VentasUbicacion

Ubicación
Barbosa        175400
Bello           91200
Caldas         120800
Copacabana     252600
Envigado       221550
Itagui         138900
La estrella     73500
Medellin       491000
Name: SUBTOTAL, dtype: int64

In [22]:
ProductoGenero = data.groupby('Genero')['Cantidad'].sum()
ProductoGenero

Genero
Hombre    76
Mujer     75
Name: Cantidad, dtype: int64

In [23]:
from pandas_profiling import ProfileReport
report = ProfileReport(data)
report.to_file(output_file='reporte.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\Sena\AppData\Local\Programs\Python\Python312\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Juan García'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [24]:
data.to_excel('Solución Taller.xlsx')